body {
    margin: 0;
    background: radial-gradient( circle, rgba(196, 175, 174, 1) 0%, rgba(204, 104, 191, 1) 25%, rgb(173, 109, 164) 50% );
}

.game {
    margin-right: 100px;
}

.game-container {
    display: flex;
    justify-content: center;
}

.game .grid {
    display: flex;
    flex-wrap: wrap;
    height: 630px;
    width: 300px;

}

.grid div {
    height: 30px;
    width:30px;
}

.previous-grid {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
}

.previous-grid div {
    height: 20px;
    width:20px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 70px;
    padding-top: 40px;
    color: rgb(216, 237, 234);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 300px;
    height: 25rem;
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%) inset, 0 1px 0 #fff;
    color: #85796b;
}

.block {
    background-image: url(./images/blue_block.png);
  }
  
  .block2 {
    background-image: url(./images/purple_block.png);
  }
  
  .block3 {
    background-image: url(./images/green_block.png);
  }
  
  .block4 {
    background-image: url(./images/navy_block.png);
  }
  
  .block5 {
    background-image: url(./images/pink_block.png);
  }